    .single-card:hover{
        box-shadow: 1px 1px 10px rgb(95, 98, 117);
    }
    .book-appointment{
        background-color: white;
        color: #1b2b46;
        padding: 7px 20px;
        border: 2px solid #1b2b46;
        border-radius: 25px;
        font-size: 18px;
    
    }
    .book-appointment:hover{
        background-color: #1b2b46;
        color: white;
        border: 2px solid #131e30;
    }
    .package-img-style{
        height: 200px;
    }
    .card-footer{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .card-text-style{
        text-align: center;
        font-size: 20px;
        font-weight: 600;
    }
    .buy-btn{
        background-color: #ffffff;
        padding: 6px 20px;
        color: rgb(0, 0, 0);
        border: 2px solid rgb(0, 0, 0);
        border-radius: 30px;
        cursor: pointer;
        font-weight: 600;
    }
    .buy-btn:hover{
        background-color: #000000;
        padding: 6px 20px;
        color: rgb(255, 255, 255);
        border: 2px solid rgb(0, 0, 0);
        border-radius: 30px;
        cursor: pointer;
    }
    @media only screen and (max-width:688px){
        .card-footer-1{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }