.dashboard-container{
    display: flex;
    flex-direction: row;
}

.nav-item{
    
}
@media only screen and (max-width:688px){
    .dashboard-container{
        display: flex;
        flex-direction: column;
    }
}