/* Add padding to containers */
.main-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    align-items: center;
    justify-content: center;
    margin: 0 100px;
}
.container {
    padding: 16px;
    background-color: white;
  }
  .img-container{
      width: 50%;
  }
  .register-img{
      width: 600px;
  }
  /* Full-width input fields */
  input[type=text], input[type=email], input[type=password] {
    width: 100%;
    padding: 12px;
    margin: 5px 0 20px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=email]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Overwrite default styles of hr */
  hr {
    border: 1px solid #7a7676;
    margin-bottom: 15px;
  }
  
  /* Set a style for the submit button */
  .registerbtn {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  .registerbtn:hover {
    opacity: 1;
  }
  
  /* Add a blue text color to links */
  a {
    color: dodgerblue;
  }
  
  /* Set a grey background color and center the text of the "sign in" section */
  .signin {
    background-color: #f1f1f1;
    text-align: center;
    padding: 12px;
    }

    @media only screen and (max-width:688px){

      .main-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        justify-content: center;
        margin: 10px 30px;
    }
    .register-img{
      width: 300px;
  }

    }